html {
    box-sizing: border-box;}
   *:before,
   *:after {
    box-sizing: inherit;}
   
   
   a:link{color: #132743; text-decoration: none;}
   a:visited{color: #ffb5b5; text-decoration: none;}
   a:hover{color: #f76b8a; text-decoration: none;}
   ul{list-style-type: none;} 


body{position: relative;}


   nav{border: red 3px solid;
    background-color: #81df42c4;
position: sticky;
top: 0px;
z-index: 20;}

.navbarelements{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin-right: 22px;}
   
    #aboutMe{border: yellow 3px solid;
    font-size: 1.6rem;}
    #myWork {border: blue 3px solid;
    }
    #Contact {border: green 3px solid;}
 
   

   
   footer{text-align: center;
   color: #f76b8a;
   font-size: 18px;}
   
   