
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Serif&display=swap');
html {
    box-sizing: border-box;}
   *:before,
   *:after {
    box-sizing: inherit;}
   
   
   a:link{color: #ffc93c;  text-decoration: none;}
   a:visited{color: #ffb5b5; text-decoration: none;}
   a:hover{color: #f574ee; text-decoration: none;}
   ul{list-style-type: none;} 


body{position: relative;
    background-image: url("backgroundimage2.jpg");
    
}

nav{
padding-right: 0px;
position: sticky;
top: 0px;
z-index: 28;
border: 2px red solid;}

.navbarelements{
   
font-family: "Dosis",sans-serif;
font-weight: bold;
font-size: 2rem;
margin-right: 1.2rem;
margin-top: 0.5rem;
border: 2px yellow solid;
}

  
    #aboutme{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px yellowgreen solid;}

    .introductiontext {font-size: 1.5rem;
font-weight: bold;
font-family: "Dosis",sans-serif;
color: #ffc93c;
text-align:left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -3%);
  border: 2px pink solid;
  }


    #myWork {
        color: rgb(28, 28, 27);
        border: 2px red solid;
    }
    .column {border: 2px yellow solid;}
    #Contact {border: 2px rgb(21, 238, 32) solid;}
 
   

   
   footer{text-align: center;
   color: #f76b8a;
   font-size: 18px;}
   
   